
IDDI_DISPOSITION_SUFFIX "You can append any value to the file name of the signed documents\rto distinguish them as signed copies of this particular document, for example."
IDDI_DISPOSITION_APPEND_DATE "Append the current date to the name of the signed document"
IDDI_DISPOSITION_APPEND_TIME "Append the current time to the name of the signed document"

IDDI_DISPOSITION_PRINT ""
IDDI_DISPOSITION_SHOW_PROPERTIES "Select this option if you need to adjust these settings\rafter the document is signed but before it is processed."

IDDI_DISPOSITION_WHILE_SIGNING_SHOW_PAD " provide text "

IDDI_DISPOSITION_AWAIT_JOB_MINIMIZE "If so, should the system minimize to the taskbar while waiting?"

IDDI_DISPOSITION_SAVE_LOCATION "This is the location where signed copies of this document will be stored."
IDDI_DISPOSITION_PRINTER " provide text "

IDS_PAD_NOT_CONNECTED
"There is no signature pad connected to your computer or, if it is, it is not responding.\r\r\
If a pad is connected, please disconnect and reconnect it. Otherwise, please attach the signature pad to the computer"

IDDI_CV_RECOGNITION_INSTRUCTIONS "Click on locations in the document used to identify this document type\r\
Or, click and drag to select a region. Use the CTRL key to add multiple locations.\r\
Potential locations have a green border under the mouse. Selected locations have a blue border."

IDDI_CV_LOCATIONS_INSTRUCTIONS "Right-click and choose Add to create signing location(s)\r\
You can move the locations with click-drag."

IDDI_DATA_FIELDS_INSTRUCTIONS "Click on locations in the document used as fields for data. Selected fields contain a blue border (red when active).\r\
Move the mouse over the text, potential fields will be green, click to select them.\r\
when red, right click each field and supply a label for the field.\r\
Click a field again to remove it."

IDDI_CV_LIMIT_REACHED "The maximum number of entries has already been selected"

IDS_CANT_CREATE_FILE "CursiVision is unable to create the file: %s"

IDDI_REGISTRATION_INFO_OTHER_MACHINE "This contact information has been registered.\nHowever, it is registered to a different computer.\nYou can choose Move to register for this computer"
