
IDS_HOME_PAGE "http://www.cursivision.com"

IDDI_DISPOSITION_SHOW_STARTUP_PROPERTIES "When CursiVision starts, should it show these properties ?"

IDDI_DISPOSITION_OPEN_LAST_DOCUMENT "When CursiVision starts, should it open the document that was last open ?"

IDDI_DISPLAY_WAITING_SHOW_LABEL "Notify me when CursiVision is waiting for the signing location"

IDDI_DISPLAY_WAITING_SHOW "When you are using a signature pad and when CursiVision is waiting for you to define the signing location(s) \
with the mouse, this option will cause a beep and message to remind you to select the signing location."

IDS_PRINTDRIVER_NAME "CursiVision Printer"

IDS_REGISTRATION_PRODUCT "CursiVision"

IDDI_DISPOSITION_RETAIN_SIGNED "After the signed document has been saved or processed,\rshould CursiVision remain open with the signed document in view ?"

IDDI_DISPOSITION_REOPEN_ORIGINAL "After the signed document has been saved or processed,\rshould CursiVision reopen the original document ?"

IDDI_DISPOSITION_CLOSE_DOCUMENT "After the signed document has been saved or processed,\rshould CursiVision close the document and remain running ?"

IDDI_DISPOSITION_KEEP_RUNNING_AND_AWAIT_JOB "After the signed document has been saved or processed,\rshould CursiVision remain running and wait for the next print job ?"

IDDI_DISPOSITION_EXIT "After the signed document has been processed, exit CursiVision.\r\rUse this option to automate the signature process for this file."

IDDI_DISPOSITION_CONTINUOUS_DOODLE_OFF 
"When not in Continuous writing mode, CursiVision will remember a single location on the document to sign.\r\r\
Changing to this value for a document that has multiple locations defined will cause the system to forget those locations\r\
so that you can redefine the one location."

IDDI_DISPOSITION_CONTINUOUS_DOODLE_ON 
"With Continous writing, CursiVision remembers multiple locations on this document to sign.\r\r\
Click the mouse on the document and sign for each location. When all are defined, press the Escape ([esc]) key.\r\r\
Changing this value for a document that has a single location to sign will cause the system to forget that \r\
location so you can then define multiple locations."

IDDI_DISPOSITION_REMEMBER
"CursiVision normally remembers the location(s) you sign a particular document (with a given name\r\
and from a particular folder).\r\
You can choose not to remember these location(s) if the signing locations will vary."

IDDI_DISPOSITION_MORE "You can direct CursiVision to save the signed documents in a Month-Year\r\
and/or a Day-Month sub-directory in addition to the options on the left."

IDDI_DISPOSITION_POST_PROCESSING_LABEL "Post processing options are not available because CursiVision is configured to continue running and wait \
for the next print job. The document is therefore automatically closed when a new document is printed."

IDS_CURSIVISION_PRINTING "CursiVision is printing: %s"

IDDI_DISPOSITION_RESET_LABEL "Reset restores the above settings to the values defined in the global settings.\r\
If you have changed any of the global settings in this configuration session, please close these dialogs first to commit those settings"

IDDI_DISPOSITION_RESET_LABEL_SPECIFIC_DOC "Reset restores the above settings to the values defined in the global settings."

IDDI_DISPOSITION_SUFFIX "You can append any value to the file name of the signed documents\rto distinguish them as signed copies of this particular document, for example."
IDDI_DISPOSITION_APPEND_DATE "Append the current date to the name of the signed document"
IDDI_DISPOSITION_APPEND_TIME "Append the current time to the name of the signed document"

IDDI_DISPOSITION_PRINT ""
IDDI_DISPOSITION_SHOW_PROPERTIES "Select this option if you need to adjust these settings\rafter the document is signed but before it is processed."

IDDI_DISPOSITION_WHILE_SIGNING_SHOW_PAD " provide text "

IDDI_DISPOSITION_AWAIT_JOB_MINIMIZE "If so, should the system minimize to the taskbar while waiting?"

IDDI_DISPOSITION_SAVE_LOCATION "This is the location where signed copies of this document will be stored."
IDDI_DISPOSITION_PRINTER " provide text "

IDS_PAD_NOT_CONNECTED
"There is no signature pad connected to your computer or, if it is, it is not responding.\r\r\
If a pad is connected, please disconnect and reconnect it. Otherwise, please attach the signature pad to the computer"

IDDI_DOCUMENT_RECOGNITION_INSTRUCTIONS "Click on locations in the document used to identify this document type\r\
Or, click and drag to select a region. Use the CTRL key to add multiple locations.\r\
Potential locations have a green border under the mouse. Selected locations have a blue border."

IDS_CANT_CREATE_FILE "CursiVision is unable to create the file: %s"

IDDI_REGISTRATION_INFO_OTHER_MACHINE "This contact information has been registered.\nHowever, it is registered to a different computer.\nYou can choose Move to register for this computer"

IDDI_REGISTRATION_LABEL1 "Welcome to "
IDDI_REGISTRATION_LABEL2 "Bringing you powerful signature capture and document management"
