
IDD_DATA_FIELDS DIALOGEX 0, 0, 640, 640
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "",IDDI_NO_TEMPLATE_LABEL,     8, 12, PDF_VIEW_MARGIN_LEFT - 16,90
   LTEXT "",IDDI_NO_TEMPLATE_LABEL2,    8,100, PDF_VIEW_MARGIN_LEFT - 16,12

   PUSHBUTTON "Reset",IDDI_DATA_FIELDS_RESET,           8, 16,  48, 16
   LTEXT "",IDDI_DATA_FIELDS_INSTRUCTIONS,              8, 40 , PDF_VIEW_MARGIN_LEFT - 12, 128

   LTEXT "",IDDI_NEED_ADMIN_PRIVILEGES,8,8,380, 24

   CONTROL "", IDD_DATA_FIELDS + 256,STATIC, WS_VISIBLE, 128 + 64 + 8,16, 640 - 128 - 64, 1024, WS_EX_CLIENTEDGE

END


IDD_DATA_FIELDS_LABEL DIALOGEX  0, 0, 128 + 32, 66
CAPTION "Field label"
STYLE DS_SETFONT | DS_3DLOOK | WS_POPUP | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "Field label:", IDD_DATA_FIELDS_LABEL + 16384,8,8 + 4, 40, 14

   EDITTEXT IDDI_FIELDS_LABEL_LABEL, 8 + 40, 8, 64, 14

   AUTOCHECKBOX "This field is required to have a value",IDDI_FIELDS_VALUE_REQUIRED, 10, 8 + 20, 140, 14

   DEFPUSHBUTTON "Ok", IDDI_FIELDS_LABEL_OK, 8, 8 + 20 + 14 + 6, 32, 14
   PUSHBUTTON "Cancel", IDDI_FIELDS_LABEL_CANCEL, 8 + 32 + 8, 8 + 20 + 14 + 6, 32, 14

END
