// Copyright 2017, 2018, 2019 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

IDD_DATA_FIELDS DIALOGEX  0, 0, 256, 256 + 128
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   PUSHBUTTON "Reset",IDDI_DATA_FIELDS_RESET, 8, 8, 32, 12
   LTEXT "",IDDI_DATA_FIELDS_INSTRUCTIONS, 8 + 32 + 4, 4, 256 + 128, 24
   LTEXT "",IDDI_CV_LIMIT_REACHED,8 + 32 + 4 + 256 + 128, 4, 16, 12

   LTEXT "Changes are disabled because Admin privileges are required to change properties in printing profiles",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,
                           0,0,256, 12 

END

IDD_DATA_FIELDS_LABEL DIALOGEX  0, 0, 128 + 32, 66
CAPTION "Field label"
STYLE DS_SETFONT | DS_3DLOOK | WS_POPUP | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "Field label:", -1,8,8 + 4, 40, 14

   EDITTEXT IDDI_FIELDS_LABEL_LABEL, 8 + 40, 8, 64, 14

   AUTOCHECKBOX "This field is required to have a value",IDDI_FIELDS_VALUE_REQUIRED, 10, 8 + 20, 140, 14

   DEFPUSHBUTTON "Ok", IDDI_FIELDS_LABEL_OK, 8, 8 + 20 + 14 + 6, 32, 14
   PUSHBUTTON "Cancel", IDDI_FIELDS_LABEL_CANCEL, 8 + 32 + 8, 8 + 20 + 14 + 6, 32, 14

END
