
IDD_DOCUMENT_RECOGNITION DIALOGEX 0, 0, 640, 512
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   AUTOCHECKBOX "Recognize by name", IDDI_DOCUMENT_RECOGNITION_BYNAME,     8,  8, 128, 12
   PUSHBUTTON "Reset",IDDI_DOCUMENT_RECOGNITION_LOCATIONS_RESET,                       8, 24,  32, 12
   LTEXT "",IDDI_DOCUMENT_RECOGNITION_INSTRUCTIONS,                        8, 36, 128 + 64, 256
   LTEXT "",IDDI_SIGNING_LOCATIONS_MORE_INFORMATION,                                128 + 64 + 16,4, 128 + 64, 8
   LTEXT "",IDDI_DOCUMENT_RECOGNITION_LIMIT_REACHED,                                   8, 8,   64, 40

   LTEXT "", IDDI_NEED_ADMIN_PRIVILEGES,0,0,256, 24 

   CONTROL "", IDD_DOCUMENT_RECOGNITION + 256,STATIC, WS_VISIBLE, 128 + 64 + 8,16, 640 - 128 - 64, 1024, WS_EX_CLIENTEDGE

END

