
IDD_GLOBAL_TEMPLATE_PROFILE DIALOGEX 0, 0, 760, 560
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "",IDDI_PROFILE_SELECTION_INSTRUCTIONS,   8,16, 600,36

   //LTEXT "Best strategy = %ld",IDDI_GLOBAL_TEMPLATE_OCV_BEST_STRATEGY,  8,58, 64, 14

   LTEXT "", IDDI_GLOBAL_TEMPLATE_SELECTOR_FIELD_IMAGES_LABEL,          8, 58, 240, 34
   LTEXT "", IDDI_GLOBAL_TEMPLATE_OPTIONAL_SELECTOR_FIELD_IMAGES_LABEL, 8, 58, 240, 34
   LTEXT "", IDDI_GLOBAL_TEMPLATE_PAGE_FINDER_FIELD_IMAGES_LABEL,       8, 58, 240, 34

   LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,0,0,380, 24 

END


IDD_GLOBAL_TEMPLATE_ROOT_PROFILE DIALOGEX 0,0,400, 256
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "",IDDI_GLOBAL_TEMPLATE_ROOT_INSTRUCTIONS,   8,16, 380,120

   LTEXT "", IDDI_GLOBAL_TEMPLATE_SIGNATURE_ROOT_FIELD_IMAGES_LABEL, 8, 58, 220, 48

   LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,0,0,380, 24 

END

STRINGTABLE {

    IDDI_GLOBAL_TEMPLATE_ROOT_INSTRUCTIONS "\
These are the settings for the root (default) Global Template Document printing profile.\r\r\
If a profile does not otherwise get selected by the system by finding all of the images defined \
for a profile, the root profile takes over.\r\r\
In this case ALL of the ""Optional"" Companion Selector fields are searched for in the document\r\
And signature capture will occur for each one found.\r\
The following table contains all of the Optional Companion Locator fields that are currently defined."

}
