
IDD_INHERITED_DOCUMENT DIALOGEX 0, 0, 256 + 32, 128 + 64 + 64
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "", IDD_INHERITED_DOCUMENT + 16384,    16, 24, 256, 12
   LTEXT "", IDD_INHERITED_DOCUMENT + 16385,    16, 48, 256, 30
   LTEXT "", IDD_INHERITED_DOCUMENT + 16386,    16, 78, 256, 12
   LTEXT "", IDDI_INHERITED_DOCUMENT_TEXT,      28, 94, 256 - 12, 24
   LTEXT "", IDD_INHERITED_DOCUMENT + 16387     16, 118, 256, 12

   LTEXT "", IDD_INHERITED_DOCUMENT + 16388,    16, 132, 256, 32
//
//NTC: 04-25-2014: I attempted to launch properties from properties.
// There are a whole lot of issues - doing this, not the least of which is the templateDocument::tdUI object in all the
// editors is a static object that get's trounced when you try to launch a new instance of the property pages.
// It would be nice to do this in the future (for example, to look at a parent document's properties)
//
#if 0
   LTEXT "To set the properties for that document, select Parent",-1,16, 160, 256, 12
   PUSHBUTTON "Parent",IDDI_INHERITED_DOCUMENT_PROPERTIES, 16 + 16, 160 + 12, 0,0
#endif

END


IDD_BACKENDS DIALOGEX 0,0, 320, 256 + 128
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

    AUTOCHECKBOX "Allow changes by Non-Administratrive users?", IDDI_BACKENDS_ALLOW_NON_ADMIN, 8, 4, 310, 12

    LTEXT "",IDDI_BACKENDS_LIST_LABEL, 8, 10, 290, 12

    LTEXT "",IDDI_BACKENDS_TOP_LIST_LABEL, 8, 32, 310, 24

    CONTROL "", IDDI_BACKENDS_TOP_LIST, WC_LISTVIEWA, LVS_REPORT | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_CHILD, 8, 46, 256, 64, WS_EX_CLIENTEDGE

    LTEXT "",IDDI_BACKENDS_BOTTOM_LIST_LABEL, 8, 20, 310, 24

    CONTROL "", IDDI_BACKENDS_BOTTOM_LIST, WC_LISTVIEWA, LVS_REPORT | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_VISIBLE | WS_CHILD, 8, 100, 256, 64, WS_EX_CLIENTEDGE

    LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,8,8,300, 24 

END

#include "resultDispositionSaveOptionsMore.rc"

#ifndef ADDITIONAL_TOP_SPACE

    // SKIP_CURSIVISION_PROPERTIES will be defined for toolbox items that save the file

#  ifdef SKIP_CURSIVISION_PROPERTIES

#     define ADDITIONAL_TOP_SPACE 38

#  else

#     define ADDITIONAL_TOP_SPACE 0

#  endif

#endif

#ifdef IDD_DISPOSITION_STAGE_DEFAULTS
IDD_DISPOSITION_STAGE_DEFAULTS DIALOGEX 0,0, 156, 48
CAPTION "Stage defaults"
STYLE DS_SETFONT | WS_CAPTION | WS_BORDER
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "Please provide the password for staging defaults:",IDD_DISPOSITION_STAGE_DEFAULTS + 16385,    8,  8, 128, 16
   EDITTEXT IDD_DISPOSITION_STAGE_DEFAULTS + 16386,                    8,28, 64, 12, ES_PASSWORD
   PUSHBUTTON "Submit",IDD_DISPOSITION_STAGE_DEFAULTS + 16387,      76, 26,  36, 16

END
#endif

IDD_DISPOSITION_PROPERTIES DIALOGEX 0, 0, 288, 256
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

#ifdef SKIP_CURSIVISION_PROPERTIES
#else
   LTEXT "",IDDI_HEADER_TEXT, 10, 8, 180, 12
#endif

#include "resultDispositionSaveOptions.rc"

#ifdef SKIP_CURSIVISION_PROPERTIES
#else

#define ROLLUP 14

   PUSHBUTTON "Reset", IDDI_DISPOSITION_RESET,                                      10,126 + ADDITIONAL_TOP_SPACE - ROLLUP, 64, 16
   LTEXT "",IDDI_DISPOSITION_RESET_LABEL,                                           78,126 + ADDITIONAL_TOP_SPACE - ROLLUP, 260, 24

   LTEXT "Then ...",IDDI_DISPOSITION_POST_PROCESSING_LABEL,                         10,124 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 12

   AUTORADIOBUTTON "Keep the signed document open",IDDI_DISPOSITION_RETAIN_SIGNED,   32,136 + ADDITIONAL_TOP_SPACE - ROLLUP, 180, 12, WS_GROUP
   AUTORADIOBUTTON "Re-open the original document",IDDI_DISPOSITION_REOPEN_ORIGINAL, 32,148 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 12
   AUTORADIOBUTTON "Close the document",IDDI_DISPOSITION_CLOSE_DOCUMENT,             32,160 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 12
   AUTORADIOBUTTON "Remain running and wait for a printing job", IDDI_DISPOSITION_KEEP_RUNNING_AND_AWAIT_JOB,   32,172 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 12
   AUTOCHECKBOX "Close the document while waiting?",IDDI_DISPOSITION_AWAIT_JOB_CLOSE,                           48,184 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 12
   AUTOCHECKBOX "Minimize to the task bar while waiting?",IDDI_DISPOSITION_AWAIT_JOB_MINIMIZE,                  48,196 + ADDITIONAL_TOP_SPACE - ROLLUP, 220, 12
   AUTORADIOBUTTON "Exit",IDDI_DISPOSITION_EXIT,                                                                32,208 + ADDITIONAL_TOP_SPACE - ROLLUP,  24, 12

   LTEXT "When defining signing locations:",IDDI_DISPOSITION_CONTINUOUS_DOODLE_LABEL,     10, 232 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14
   AUTORADIOBUTTON "Sign once and save",IDDI_DISPOSITION_CONTINUOUS_DOODLE_OFF,           26, 246 + ADDITIONAL_TOP_SPACE - ROLLUP,  90, 12, WS_GROUP
   AUTORADIOBUTTON "Sign until [ESC] is pressed",IDDI_DISPOSITION_CONTINUOUS_DOODLE_ON,  136, 246 + ADDITIONAL_TOP_SPACE - ROLLUP, 128, 12

   AUTOCHECKBOX "Remember the signed location(s)",IDDI_DISPOSITION_REMEMBER,              26, 256 + ADDITIONAL_TOP_SPACE - ROLLUP, 128, 12
   AUTOCHECKBOX "Notify me when CursiVision is waiting for the signing location",IDDI_DISPLAY_WAITING_SHOW,
                                                                                          26, 268 + ADDITIONAL_TOP_SPACE - ROLLUP, 256, 12

   LTEXT "Should the system allow signature replication",IDDI_SIGNATURE_REPLICATION_LABEL,  10, 288 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14
   AUTORADIOBUTTON "Yes",IDDI_SIGNATURE_REPLICATION_ALLOW,                                  26, 300 + ADDITIONAL_TOP_SPACE - ROLLUP, 24, 12, WS_GROUP
   AUTORADIOBUTTON "No",IDDI_SIGNATURE_REPLICATION_DISALLOW,                                52, 300 + ADDITIONAL_TOP_SPACE - ROLLUP, 24, 12
   AUTOCHECKBOX "Should the option for replication default to Yes",IDDI_SIGNATURE_REPLICATION_DEFAULT_YES,
                                                                                            26, 312 + ADDITIONAL_TOP_SPACE - ROLLUP, 256, 12

   LTEXT "",IDDI_DISPOSITION_SHOW_STARTUP_PROPERTIES_LABEL,                                     10, 332 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14
   AUTOCHECKBOX "Show these properties",IDDI_DISPOSITION_SHOW_STARTUP_PROPERTIES,               26, 346 + ADDITIONAL_TOP_SPACE - ROLLUP,96,12, WS_GROUP
   AUTOCHECKBOX "Open the last opened document",IDDI_DISPOSITION_OPEN_LAST_DOCUMENT,            26, 356 + ADDITIONAL_TOP_SPACE - ROLLUP,128,12
   AUTOCHECKBOX "Use the entire vertical resolution available",IDDI_DISPOSITION_USE_LARGEST_VERTICAL_RES,
                                                                                                26, 368 + ADDITIONAL_TOP_SPACE - ROLLUP,150,12

   PUSHBUTTON "Stage Defaults",IDDI_DISPOSITION_STAGE_DEFAULTS,                                 10, 390 + ADDITIONAL_TOP_SPACE - ROLLUP,96,16

#endif

   LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,8,8,392, 24 

#ifndef DONT_TERMINATE_DIALOG_TEMPLATE
END
#endif

