
IDD_DISPOSITION_MORE DIALOGEX 0, 0, 128, 32
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   AUTOCHECKBOX "Save in a sub-directory for the month and year",IDDI_DISPOSITION_SAVE_MONTHYEAR, 16, 16, 128 + 64, 14
   AUTOCHECKBOX "Save in a sub-directory for the day of the month",IDDI_DISPOSITION_SAVE_DAYMONTH, 16, 16 + 14 + 2, 128 + 64, 14

END

