
   AUTOCHECKBOX "Append ",IDDI_DISPOSITION_APPEND,              20, 24 + ADDITIONAL_TOP_SPACE,  38, 12
   EDITTEXT IDDI_DISPOSITION_SUFFIX,                            64, 24 + ADDITIONAL_TOP_SPACE,  68, 12, ES_AUTOHSCROLL
   LTEXT "to the original name",IDDI_DISPOSITION_SUFFIX_LABEL, 136, 26 + ADDITIONAL_TOP_SPACE, 128, 12

   AUTOCHECKBOX "Date ",IDDI_DISPOSITION_APPEND_DATE,           36, 38 + ADDITIONAL_TOP_SPACE, 40, 12
   AUTOCHECKBOX "Time ",IDDI_DISPOSITION_APPEND_TIME,           78, 38 + ADDITIONAL_TOP_SPACE, 40, 12

   AUTOCHECKBOX "Save and ",IDDI_DISPOSITION_SAVE,              20, 52 + ADDITIONAL_TOP_SPACE,48, 12

   AUTOCHECKBOX "Replace without prompting",IDDI_DISPOSITION_REPLACE,   68,52 + ADDITIONAL_TOP_SPACE,96, 12
   AUTOCHECKBOX "Sequence ",IDDI_DISPOSITION_SEQUENCE,                 172,52 + ADDITIONAL_TOP_SPACE, 50, 12
   PUSHBUTTON "More..",IDDI_DISPOSITION_MORE,                          230,52 + ADDITIONAL_TOP_SPACE, 40, 12

   LTEXT "In:",IDDI_DISPOSITION_SAVE_IN_LABEL,                                              34, 66 + ADDITIONAL_TOP_SPACE,   8, 12
   AUTORADIOBUTTON "My Documents/My Signed Documents",IDDI_DISPOSITION_SAVE_MY_DOCUMENTS,   46, 64 + ADDITIONAL_TOP_SPACE, 140, 12, WS_GROUP
   AUTORADIOBUTTON "Next to the original",IDDI_DISPOSITION_SAVE_BY_ORIGINAL,                46, 78 + ADDITIONAL_TOP_SPACE,  80, 12
   AUTORADIOBUTTON "Here:", IDDI_DISPOSITION_SAVE_IN,                                       46, 92 + ADDITIONAL_TOP_SPACE,  30, 12

   EDITTEXT IDDI_DISPOSITION_SAVE_LOCATION,                                                 80, 92 + ADDITIONAL_TOP_SPACE, 130, 12, ES_AUTOHSCROLL
   PUSHBUTTON "...", IDDI_DISPOSITION_CHOOSE_SAVE_LOCATION,                                214, 92 + ADDITIONAL_TOP_SPACE,  16, 12

