
   AUTOCHECKBOX "Append ",IDDI_DISPOSITION_APPEND,20,24 + ADDITIONAL_TOP_SPACE, 38, 12
   EDITTEXT IDDI_DISPOSITION_SUFFIX,20 + 40 + 8 - 4,  16 + 8 + ADDITIONAL_TOP_SPACE, 68, 12, ES_AUTOHSCROLL
   LTEXT "to the original name",IDDI_DISPOSITION_SUFFIX_LABEL,20 + 40 + 8 - 4 + 68 + 8 - 4, 16 + 8 + 2 + ADDITIONAL_TOP_SPACE, 128, 12

   AUTOCHECKBOX "Date ",IDDI_DISPOSITION_APPEND_DATE,36,16 + 8 + 12 + 2 + ADDITIONAL_TOP_SPACE, 40, 12
   AUTOCHECKBOX "Time ",IDDI_DISPOSITION_APPEND_TIME,36 + 40 + 2,16 + 8 + 12 + 2 + ADDITIONAL_TOP_SPACE, 40, 12

   AUTOCHECKBOX "Save and ",IDDI_DISPOSITION_SAVE,20,52 + ADDITIONAL_TOP_SPACE,48, 12

   AUTOCHECKBOX "Replace without prompting",IDDI_DISPOSITION_REPLACE, 20 + 48,52 + ADDITIONAL_TOP_SPACE,96, 12
   AUTOCHECKBOX "Sequence ",IDDI_DISPOSITION_SEQUENCE,20 + 48 + 96 + 8,52 + ADDITIONAL_TOP_SPACE, 50, 12

   PUSHBUTTON "More..",IDDI_DISPOSITION_MORE, 20 + 48 + 96 + 8 + 50 + 8,52 + ADDITIONAL_TOP_SPACE, 40, 12

   LTEXT "In:",IDDI_DISPOSITION_SAVE_IN_LABEL,34,52 + 12 + 2 + ADDITIONAL_TOP_SPACE,8,12
   AUTORADIOBUTTON "My Documents/My Signed Documents",IDDI_DISPOSITION_SAVE_MY_DOCUMENTS,34 + 12, 52 + 12 + ADDITIONAL_TOP_SPACE, 140, 12, WS_GROUP
   AUTORADIOBUTTON "Next to the original",IDDI_DISPOSITION_SAVE_BY_ORIGINAL,34 + 12, 52 + 12 + 12 + 2 + ADDITIONAL_TOP_SPACE, 80, 12
   AUTORADIOBUTTON "Here:", IDDI_DISPOSITION_SAVE_IN, 34 + 12, 52 + 12 + 12 + 2 + 12 + 2 + ADDITIONAL_TOP_SPACE, 30, 12

   EDITTEXT IDDI_DISPOSITION_SAVE_LOCATION, 34 + 12 + 30 + 4,                          52 + 40 + ADDITIONAL_TOP_SPACE, 130, 12, ES_AUTOHSCROLL
   PUSHBUTTON "...", IDDI_DISPOSITION_CHOOSE_SAVE_LOCATION,34 + 12 + 30 + 4 + 130 + 4, 52 + 12 + 12 + 2 + 12 + 2 + ADDITIONAL_TOP_SPACE, 16, 12
//                                                                                       92
