
IDD_SIGNING_LOCATIONS DIALOGEX 0, 0, 640, 640
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   PUSHBUTTON "",IDDI_CV_LOCATIONS_RESET,   8,  8,  32, 12

   LTEXT "",IDDI_CV_LOCATIONS_INSTRUCTIONS,      8, 24, PDF_VIEW_MARGIN_LEFT - 16, 48

#ifdef IDDI_SIGNING_LOCATIONS_SKIP_SIGNING
#ifndef CURSIVISION_BUILD
   AUTOCHECKBOX "", IDDI_SIGNING_LOCATIONS_SKIP_SIGNING,    16, 72,128,10
   LTEXT "",IDDI_SIGNING_LOCATIONS_SKIP_SIGNING_2,          32, 82, PDF_VIEW_MARGIN_LEFT - 32,12
#define MOVE_DOWN  20
#else
#define MOVE_DOWN 0
#endif
#else
#define MOVE_DOWN 0
#endif

   AUTOCHECKBOX "", IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_LEARN,  16, 72 + MOVE_DOWN, PDF_VIEW_MARGIN_LEFT - 30, 12
   LTEXT "", IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_LEARN_2,       32, 72 + MOVE_DOWN + 12, 128 - 32, 12

   AUTORADIOBUTTON "",IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_OFF,       24, 92 + MOVE_DOWN, 96, 12, WS_GROUP
   AUTORADIOBUTTON "",IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_ON,        24, 92 + MOVE_DOWN + 12, 96, 12
   AUTOCHECKBOX "",IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_REMEMBER,     24, 92 + MOVE_DOWN + 24, 128, 12, WS_GROUP

   LTEXT "", IDDI_CV_LOCATIONS_CONTINUOUS_DOODLE_LEARN_3,            8, 92 + MOVE_DOWN + 24 + 24, PDF_VIEW_MARGIN_LEFT - 16, 128

   LTEXT "",IDDI_CV_LOCATIONS_ADDITIONAL_INFO, PDF_VIEW_MARGIN_LEFT, 4, 640 - 128, 8

   LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,8,8,256, 24 

   CONTROL "", IDD_SIGNING_LOCATIONS + 256,STATIC, WS_VISIBLE, PDF_VIEW_MARGIN_LEFT,16, 640 - 128 - 64, 1024, WS_EX_CLIENTEDGE


END


IDD_SIGNING_LOCATIONS_ORDER DIALOGEX 0,0, 128 + 32, 60
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Signature Order"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "The current order of this signature is ",IDDI_SIGNING_LOCATIONS_ORDER_LABEL, 8, 8, 128 + 32, 14
   LTEXT "New signature order:",IDD_SIGNING_LOCATIONS_ORDER + 16384, 8,8 + 14, 72, 14

   EDITTEXT IDDI_SIGNING_LOCATIONS_ORDER, 8 + 72, 8 + 12, 24, 14,ES_CENTER | ES_NUMBER

   PUSHBUTTON "Ok", IDDI_SIGNING_LOCATIONS_ORDER_OK, 8, 8 + 12 + 14 + 4 + 4, 24, 14
   PUSHBUTTON "Cancel", IDDI_SIGNING_LOCATIONS_ORDER_CANCEL, 8 + 24 + 8, 8 + 12 + 14 + 4 + 4, 32, 14

END

