
IDD_SIGNING_LOCATIONS DIALOGEX 0, 0, 256 + 32, 256 + 128
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
STYLE WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   PUSHBUTTON "Reset",IDDI_CV_LOCATIONS_RESET,   8, 8,  32, 12
   LTEXT "",IDDI_CV_LOCATIONS_INSTRUCTIONS,     44, 4, 256, 20

#ifdef IDDI_SIGNING_LOCATIONS_SKIP_SIGNING
   AUTOCHECKBOX "Skip signature capture, just exercise the selected toolbox items on the document", IDDI_SIGNING_LOCATIONS_SKIP_SIGNING,
                                                                                                      16, 28, 256 + 64, 12
#define MOVE_DOWN  16

#else
#define MOVE_DOWN 0
#endif

   AUTOCHECKBOX "Learn the signing locations with the first signing", IDDI_DISPOSITION_CONTINUOUS_DOODLE_LEARN, 16, 28 + MOVE_DOWN, 160, 12
   AUTORADIOBUTTON "Sign once and save",IDDI_DISPOSITION_CONTINUOUS_DOODLE_OFF,            24, 40 + MOVE_DOWN,  90, 12, WS_GROUP
   AUTORADIOBUTTON "Sign until [ESC] is pressed",IDDI_DISPOSITION_CONTINUOUS_DOODLE_ON,   134, 40 + MOVE_DOWN, 128, 12
   AUTOCHECKBOX "Remember the signed location(s)",IDDI_DISPOSITION_REMEMBER,               24, 52 + MOVE_DOWN, 128, 12

#ifdef IDDI_CV_LOCATIONS_ADDITIONAL_INFO
   LTEXT "",IDDI_CV_LOCATIONS_ADDITIONAL_INFO, 8, 66, 256, 12
#endif

   LTEXT "",IDDI_DISPOSITION_NEED_ADMIN_PRIVILEGES,8,8,256, 12 
END


IDD_SIGNING_LOCATIONS_ORDER DIALOGEX 0,0, 128 + 32, 60
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Signature Order"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "The current order of this signature is ",IDDI_SIGNING_LOCATIONS_ORDER_LABEL, 8, 8, 128 + 32, 14
   LTEXT "New signature order:", -1, 8,8 + 14, 72, 14

   EDITTEXT IDDI_SIGNING_LOCATIONS_ORDER, 8 + 72, 8 + 12, 24, 14,ES_CENTER | ES_NUMBER

   PUSHBUTTON "Ok", IDDI_SIGNING_LOCATIONS_ORDER_OK, 8, 8 + 12 + 14 + 4 + 4, 24, 14
   PUSHBUTTON "Cancel", IDDI_SIGNING_LOCATIONS_ORDER_CANCEL, 8 + 24 + 8, 8 + 12 + 14 + 4 + 4, 32, 14

END

